
@model ProyectoS.Models.vw_ListaTikets
@{
    ViewBag.Title = "Nuevo Tiket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:30px;">
    <h2>Nuevo Tiket</h2>
    <hr />

    <form id="formNuevo" name="formNuevo" method="post">
        @foreach (ProyectoS.Models.vw_ListaHistorias item in ViewBag.ListaHistorias)
        {
            <input type="hidden" name="RowIDHistoria" id="RowIDHistoria" value="@item.RowID" />
            <input type="hidden" name="RowID" id="RowID" value="@Model.RowID" />
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-group">
                        <div class="col-md-4"><label>Historia</label></div>
                        <div class="col-md-6"><input placeholder="" autocomplete="off" type="text" name="historia" style="height:25px; width: 100% !important;" id="historia" value="@item.Nombre" class="form-control form-control-user" disabled /></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row form-group">
                        <div class="col-md-4"><label>Nombre de Tiket</label></div>
                        <div class="col-md-6"><input placeholder="" autocomplete="off" type="text" name="nombre" style="height:25px; width: 100% !important;" id="nombre" value="@Model.Nombre" class="form-control form-control-user" /></div>
                    </div>
                </div>

            </div>
            break;
        }
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-group">
                        <div class="col-md-4"><label>Estado</label></div>
                        <div class="col-md-6">
                            <select id="Estado" name="Estado" class="form-control form-control-user" style=" width: 100% !important;">
                                <option value="Activo" selected>Activo</option>
                                <option value="En proceso">En proceso</option>
                                <option value="Finalizado">Finalizado</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-group">
                        <div class="col-md-2 titulos"><label>Comentario</label></div>
                        <div class="col-md-9"><textarea class="form-control form-control-user" placeholder="Agregue una descripción..." name="Observaciones" id="Observaciones" autocomplete="off" style="width:100%" rows="5">@Model.Descipcion</textarea></div>
                    </div>
                </div>

            </div>
        </form>

    <a href="javascript:EnviarDatos();" class="btn btn-primary btn-user btn-block" style="width:150px">
        Guardar
    </a>
</div>

<script>

    function EnviarDatos() {

        var formdata = new FormData(); //FormData object
        Guardar();

    }

    function Guardar() {
        debugger
        var formData = new FormData(document.getElementById("formNuevo"));

        $.ajax({
            type: "POST",
            url: "/Proyecto/Guardar_Tiket",
            contentType: false,
            processData: false,
            data: formData,
            success: function (Data) {
                if (Data.Guardar == "Hecho") {
                    alert("Datos guardados correctamente!");
                    location.href = "/Proyecto/Tiket";
                }
                else {
                    alert("Error!");
                }
            },
            error: function (error) {
                alert("Algo salio mal");
            }
        });
    }
</script>